.git/objects/pack/pack-0957c1f7c7440ea82029af21a70968421225ab5f.pack filter=lfs diff=lfs merge=lfs -text
.git/objects/pack/pack-cd756c9cb86f1b9946fc4e30442792792318f91a.pack filter=lfs diff=lfs merge=lfs -text
android/app/build/outputs/apk/debug/app-debug.apk filter=lfs diff=lfs merge=lfs -text
android/app/myenv/Lib/site-packages/tensorflow/python/_pywrap_tensorflow_internal.pyd filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/8b/0f/8b0f774b5871a118e07a999f84c35f80b54611afa2fdb66b4a80f3604ced1b1b filter=lfs diff=lfs merge=lfs -text
.yarn/cache/jsc-android-npm-250231.0.0-8322f50944-6c3f0f6f02.zip filter=lfs diff=lfs merge=lfs -text
.yarn/cache/react-native-npm-0.75.4-dbfb07e7dd-7dcbffffd5.zip filter=lfs diff=lfs merge=lfs -text
android/app/build/intermediates/dex/debug/mergeExtDexDebug/classes.dex filter=lfs diff=lfs merge=lfs -text
android/app/env/Lib/site-packages/llvmlite/binding/llvmlite.dll filter=lfs diff=lfs merge=lfs -text
android/app/env/Lib/site-packages/numpy.libs/libscipy_openblas64_-caad452230ae4ddb57899b8b3a33c55c.dll filter=lfs diff=lfs merge=lfs -text
android/app/env/Lib/site-packages/scipy.libs/libopenblas_v0.3.27--3aa239bc726cfb0bd8e5330d8d4c15c6.dll filter=lfs diff=lfs merge=lfs -text
android/app/myenv/Lib/site-packages/clang/native/libclang.dll filter=lfs diff=lfs merge=lfs -text
android/app/myenv/Lib/site-packages/llvmlite/binding/llvmlite.dll filter=lfs diff=lfs merge=lfs -text
android/app/myenv/Lib/site-packages/numpy.libs/libscipy_openblas64_-caad452230ae4ddb57899b8b3a33c55c.dll filter=lfs diff=lfs merge=lfs -text
android/app/myenv/Lib/site-packages/scipy.libs/libopenblas_v0.3.27--3aa239bc726cfb0bd8e5330d8d4c15c6.dll filter=lfs diff=lfs merge=lfs -text
android/app/myenv/Lib/site-packages/tensorflow/python/_pywrap_tensorflow_internal.lib filter=lfs diff=lfs merge=lfs -text
android/app/myenv/Lib/site-packages/tensorflow/python/_pywrap_tfcompile.pyd filter=lfs diff=lfs merge=lfs -text
node_modules/jsc-android/dist/org/webkit/android-jsc-intl/r250231/android-jsc-intl-r250231.aar filter=lfs diff=lfs merge=lfs -text
node_modules/react-native/sdks/hermesc/win64-bin/icudt64.dll filter=lfs diff=lfs merge=lfs -text
