.git/objects/pack/pack-0957c1f7c7440ea82029af21a70968421225ab5f.pack filter=lfs diff=lfs merge=lfs -text
.git/objects/pack/pack-cd756c9cb86f1b9946fc4e30442792792318f91a.pack filter=lfs diff=lfs merge=lfs -text
android/app/build/outputs/apk/debug/app-debug.apk filter=lfs diff=lfs merge=lfs -text
android/app/myenv/Lib/site-packages/tensorflow/python/_pywrap_tensorflow_internal.pyd filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/8b/0f/8b0f774b5871a118e07a999f84c35f80b54611afa2fdb66b4a80f3604ced1b1b filter=lfs diff=lfs merge=lfs -text
.yarn/cache/jsc-android-npm-250231.0.0-8322f50944-6c3f0f6f02.zip filter=lfs diff=lfs merge=lfs -text
.yarn/cache/react-native-npm-0.75.4-dbfb07e7dd-7dcbffffd5.zip filter=lfs diff=lfs merge=lfs -text
android/app/build/intermediates/dex/debug/mergeExtDexDebug/classes.dex filter=lfs diff=lfs merge=lfs -text
android/app/env/Lib/site-packages/llvmlite/binding/llvmlite.dll filter=lfs diff=lfs merge=lfs -text
android/app/env/Lib/site-packages/numpy.libs/libscipy_openblas64_-caad452230ae4ddb57899b8b3a33c55c.dll filter=lfs diff=lfs merge=lfs -text
android/app/env/Lib/site-packages/scipy.libs/libopenblas_v0.3.27--3aa239bc726cfb0bd8e5330d8d4c15c6.dll filter=lfs diff=lfs merge=lfs -text
android/app/myenv/Lib/site-packages/clang/native/libclang.dll filter=lfs diff=lfs merge=lfs -text
android/app/myenv/Lib/site-packages/llvmlite/binding/llvmlite.dll filter=lfs diff=lfs merge=lfs -text
android/app/myenv/Lib/site-packages/numpy.libs/libscipy_openblas64_-caad452230ae4ddb57899b8b3a33c55c.dll filter=lfs diff=lfs merge=lfs -text
android/app/myenv/Lib/site-packages/scipy.libs/libopenblas_v0.3.27--3aa239bc726cfb0bd8e5330d8d4c15c6.dll filter=lfs diff=lfs merge=lfs -text
android/app/myenv/Lib/site-packages/tensorflow/python/_pywrap_tensorflow_internal.lib filter=lfs diff=lfs merge=lfs -text
android/app/myenv/Lib/site-packages/tensorflow/python/_pywrap_tfcompile.pyd filter=lfs diff=lfs merge=lfs -text
node_modules/jsc-android/dist/org/webkit/android-jsc-intl/r250231/android-jsc-intl-r250231.aar filter=lfs diff=lfs merge=lfs -text
node_modules/react-native/sdks/hermesc/win64-bin/icudt64.dll filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/1b/fb/1bfb798f1042e6b9825f673f4e2b9a6f64fcefd7df7641d2ccf6a8a09f59f189 filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/2e/e0/2ee0262b429173f6fa3569d7b242e696736996210b2152c73fbce0b5d61dcfc1 filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/44/62/44629a7d27806ea076daeae8e829b0cfbdec9e25099561a19af8e5910bd635c5 filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/8c/3e/8c3effc105f7ae869bd196070e9168c9a245d670bb3d3520a851cd7c3fd42cc0 filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/b1/3e/b13ec96d9a036d6c6c36dd09e00415ead7acc7fcfd40e721bf33ea86b3490f9d filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/d4/30/d430b531fe90eb28e2b25dff18f09e899362ed9fe1f854e7e3cae24325e50d1e filter=lfs diff=lfs merge=lfs -text
.yarn/cache/typescript-npm-5.0.4-122f6a883a-82b94da3f4.zip filter=lfs diff=lfs merge=lfs -text
.yarn/cache/typescript-patch-ecf29fafbd-d26b6ba97b.zip filter=lfs diff=lfs merge=lfs -text
android/.gradle/8.8/executionHistory/executionHistory.bin filter=lfs diff=lfs merge=lfs -text
android/app/build/intermediates/merged_native_libs/debug/mergeDebugNativeLibs/out/lib/arm64-v8a/libfabricjni.so filter=lfs diff=lfs merge=lfs -text
android/app/build/intermediates/merged_native_libs/debug/mergeDebugNativeLibs/out/lib/x86/libfabricjni.so filter=lfs diff=lfs merge=lfs -text
android/app/build/intermediates/merged_native_libs/debug/mergeDebugNativeLibs/out/lib/x86_64/libfabricjni.so filter=lfs diff=lfs merge=lfs -text
android/app/build/intermediates/stripped_native_libs/debug/stripDebugDebugSymbols/out/lib/arm64-v8a/libfabricjni.so filter=lfs diff=lfs merge=lfs -text
android/app/build/intermediates/stripped_native_libs/debug/stripDebugDebugSymbols/out/lib/x86/libfabricjni.so filter=lfs diff=lfs merge=lfs -text
android/app/build/intermediates/stripped_native_libs/debug/stripDebugDebugSymbols/out/lib/x86_64/libfabricjni.so filter=lfs diff=lfs merge=lfs -text
android/app/myenv/Lib/site-packages/grpc/_cython/cygrpc.cp39-win_amd64.pyd filter=lfs diff=lfs merge=lfs -text
android/app/myenv/Lib/site-packages/tensorflow/compiler/tf2xla/ops/_xla_ops.so filter=lfs diff=lfs merge=lfs -text
android/app/myenv/Lib/site-packages/tensorflow/python/client/_pywrap_tf_session.pyd filter=lfs diff=lfs merge=lfs -text
android/app/myenv/Lib/site-packages/tensorflow/python/data/experimental/service/_pywrap_utils.pyd filter=lfs diff=lfs merge=lfs -text
android/app/myenv/Lib/site-packages/tensorflow/python/framework/_pywrap_python_api_info.pyd filter=lfs diff=lfs merge=lfs -text
android/app/myenv/Lib/site-packages/tensorflow/python/framework/_pywrap_python_api_parameter_converter.pyd filter=lfs diff=lfs merge=lfs -text
android/app/myenv/Lib/site-packages/tensorflow/python/profiler/internal/_pywrap_profiler.pyd filter=lfs diff=lfs merge=lfs -text
android/app/myenv/Lib/site-packages/tensorflow/python/_pywrap_tfe.pyd filter=lfs diff=lfs merge=lfs -text
node_modules/jsc-android/dist/org/webkit/android-jsc/r250231/android-jsc-r250231.aar filter=lfs diff=lfs merge=lfs -text
node_modules/react-native/sdks/hermesc/osx-bin/hermes filter=lfs diff=lfs merge=lfs -text
node_modules/react-native/sdks/hermesc/osx-bin/hermesc filter=lfs diff=lfs merge=lfs -text
node_modules/typescript/lib/tsc.js filter=lfs diff=lfs merge=lfs -text
node_modules/typescript/lib/tsserver.js filter=lfs diff=lfs merge=lfs -text
node_modules/typescript/lib/tsserverlibrary.js filter=lfs diff=lfs merge=lfs -text
node_modules/typescript/lib/typescript.js filter=lfs diff=lfs merge=lfs -text
